@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url(https://lh3.googleusercontent.com/A2zQ-L8_kxqTSlRY7NAFgpdRYxy60PL0SwlCbpqq5sYJSxSzKPWP5DY7BKePjDIV9XkiDzUuk_kRWStowBO2D0CbhCgt3Gq38IK4O2n5PdwOU5TGYihahlr0mMZ90Gsc0xzGg2RkEvGBf7cBkNbA5E95snpAt-ewXJVBskm07gV6KGTmHJj4NG1c2gFuyjXuF0yDfv4VENgvSauyMTP8rm3WJfAVGq3uuMUApALl9lUpwlPCrLMKZrL36OgUFg-7-RUoFRwLwY6ScYZZ0k3jiFD7fSNm3_KS06dxRZSRJOpYDfu3iye9C-84xWVYDYZ4kER7XLLciCpXcmORo2opaKe1OINEokwNwP43zh-eCaLrmCuRYKAdDLymk13A6JRNfmbNhvkhGGchGXI5mR8BYcpnP2P9lyORJHfRT0YvkqG6xRngS471x2jSRsKUlkZsYZmwm9G1okQbYs8FJBcIJ-C1Irm6hw5bh2ATSNP1uvIUWXYSmhWnxSck6FabZqYCY4rpc6ZNUMJzQofmBgsEMhTZXYtht89Mvy5ItTn_Vx5vLg4OekShPgkvokop-1IPHbUDe8YmdlqwPAk9Gyg8cVfDg2IVAAkctfBuIJxqfzCAENjYEv7E3ZhQOv2199Zn08yuwHdEryc0og5m9OUbMWLt6jJ5Lhog1dGLpbQvsHYOHUWrp1qsYv1seQaWo0xMV7jKaDPR6JyX5KGIwma-N9A=w1013-h633-no?authuser=0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	font-size: 60px;
	margin: -150px 0 40px;
}

.countdown {
	display: flex;
	transform: scale(2);
}

.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

.time h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	margin: 0 0 5px;
}

@media (max-width: 500px) {
	h1 {
		font-size: 45px;
	}
	.time {
		margin: 5px;
	}
	.time h2 {
		font-size: 12px;
	}
	.time small {
		font-size: 10px;
	}
}
